:root {
  --c-50:  #ffffff;
  --c-100: #e0e0e0;
  --c-200: #f0f0f0;
  --c-300: #fafafa;
  --c-400: #ffffff;
  --c-500: #525252;
  --c-600: #363636;
  --c-700: #1f1f1f;
  --c-800: #161616;
  --c-900: #101010;
  --c-950: #000000;
}

body.dark {
  --c-50:  #000000;
  --c-100: #101010;
  --c-200: #161616;
  --c-300: #1f1f1f;
  --c-400: #363636;
  --c-500: #525252;
  --c-600: #808080;
  --c-700: #838383;
  --c-800: #b1b1b1;
  --c-900: #cccccc;
  --c-950: #ffffff;
}

@theme inline {
  --color-background:   #fefefe;
  --color-foreground:   #2b221f;

  --color-muted-50:     #070707;
  --color-muted-100:    #141414;
  --color-muted-200:    #212121;
  --color-muted-300:    #2e2e2e;
  --color-muted-400:    #474747;
  --color-muted-500:    #545454;
  --color-muted-600:    #6c6c6c;
  --color-muted-700:    #969696;
  --color-muted-800:    #c0c0c0;
  --color-muted-900:    #d5d5d5;
  --color-muted-950:    #eaeaea;

  --color-info:         #00b2dd;
  --color-success:      #0cae00;
  --color-warning:      #fbad00;
  --color-error:        #ff1300;
  
  --color-primary-50 :  #f8f6f4;
  --color-primary-100:  #eeebe6;
  --color-primary-200:  #ddd6cb;
  --color-primary-300:  #c7bbaa;
  --color-primary-400:  #ab9782;
  --color-primary-500:  #9f8670;
  --color-primary-600:  #927764;
  --color-primary-700:  #7a6154;
  --color-primary-800:  #645148;
  --color-primary-900:  #52433c;
  --color-primary-950:  #2b221f;

  --color-accent-50:    #faefeb;
  --color-accent-100:   #f6dfd8;
  --color-accent-200:   #edbeb1;
  --color-accent-300:   #e39e89;
  --color-accent-400:   #da7d62;
  --color-accent-500:   #d15d3b;
  --color-accent-600:   #a74a2f;
  --color-accent-700:   #7d3823;
  --color-accent-800:   #542518;
  --color-accent-900:   #2a130c;
  --color-accent-950:   #210f09;

  --color-c-50:         var(--c-50); /* current input text */
  --color-c-100:        var(--c-100); /* backdrop */
  --color-c-200:        var(--c-200); /* panel */
  --color-c-300:        var(--c-300); /* item, tooltip bg */ 
  --color-c-400:        var(--c-400); /* item hover bg, menu (-4%) */
  --color-c-500:        var(--c-500); /* toggle */
  --color-c-600:        var(--c-600); /* deselected text, icon */
  --color-c-700:        var(--c-700); /* text */
  --color-c-800:        var(--c-800); /* item text */ 
  --color-c-900:        var(--c-900); /* selected text, icon */
  --color-c-950:        var(--c-950); /* current input bg */
}